
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" (click)="openHome()" class="user-icon"></ion-icon>
    <ion-title class='font-title'>Cadastro de liderança</ion-title>
  </ion-toolbar>


<ion-content  >
  <div class="xc" text-center>
    <h3></h3>
  </div>
  <ion-card class="cardLogin">
  <form  #form="ngForm" >
    <ion-grid>
      <ion-row color="primary" class="xc">
        <ion-col  size-md="6" size-lg="5" size-xs="12" >

          <div padding >
            <ion-item>
              <ion-label class="font-label">CPF:</ion-label>
              <ion-input class="font-label" name="CPF/CNPJ" type="text" mask="000.000.000-00" ngModel required  [(ngModel)]="cpf_cnpj_lideranca" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="font-label ">Nome:</ion-label>
              <ion-input class="font-label uppercase" name="Nome" type="text" ngModel required [(ngModel)]="nome_lideranca" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="font-label ">Nome da mãe:</ion-label>
              <ion-input class="font-label uppercase" name="Nome-mae" type="text" ngModel required [(ngModel)]="nome_mae" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="font-label ">Data de nascimento:</ion-label>
              <ion-input class="font-label " name="data" type="text" mask="00/00/0000" ngModel required [(ngModel)]="data_nascimento" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="font-label">Email:</ion-label>
              <ion-input class="font-label "  name="Email" type="text"  ngModel required [(ngModel)]="email_lideranca"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="font-label">Telefone:</ion-label>
              <ion-input class="font-label uppercase" mask="(00)00000-0000" name="Telefone" type="tel"  ngModel required [(ngModel)]="telefone_lideranca"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="font-label" >Esse número é whatsapp?</ion-label>
          <ion-select  class="font-label" [(ngModel)]="sn_whatsapp" name="validar">
            <ion-select-option class="font-label" value="S" name="S">Sim</ion-select-option>
            <ion-select-option class="font-label" value="N" name="N">Não</ion-select-option>
          </ion-select>
              </ion-item>
              <ion-item>
                <ion-label class="font-label ">CEP:</ion-label>
                <ion-input class="font-label " name="CEP" type="text" ngModel required [(ngModel)]="cep"></ion-input>
                <ion-button (click)="pegaCep()"> Consultar CEP</ion-button>
              </ion-item>
            
            <ion-item>
              <ion-label class="font-label ">Endereço:</ion-label>
              <ion-input class="font-label uppercase" name="Endereço" type="text"  ngModel required  [(ngModel)]="endereco"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="font-label ">Número:</ion-label>
              <ion-input class="font-label" name="Número" type="text"  ngModel required  [(ngModel)]="numero"></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label class="font-label ">Complemento:</ion-label>
              <ion-input class="font-label" name="Complemento" type="text"  ngModel required [(ngModel)]="complemento"></ion-input>
            </ion-item>
     
            <ion-item>
              <ion-label class="font-label">Cidade:</ion-label>
              <ion-input class="font-label uppercase" name="Cidade" type="text"  ngModel required [(ngModel)]="cidade"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="font-label ">Bairro:</ion-label>
              <ion-input class="font-label uppercase" name="Bairro" type="text"  ngModel required [(ngModel)]="bairro"></ion-input>
            </ion-item>
          
            <ion-item>
              <ion-label class="font-label ">UF:</ion-label>
              <ion-input class="font-label uppercase" name="UF" type="text"  ngModel required [(ngModel)]="uf"></ion-input>
            </ion-item>
          
            <ion-item>
              <ion-label class="font-label">Título de eleitor:</ion-label>
              <ion-input class="font-label" (ionBlur)="paleativeTitle()" name="titulo" type="text" ngModel required [(ngModel)]="nr_titulo"></ion-input>
            </ion-item>
            
            <ion-item >
           
              <ion-label class="font-label" > Zona</ion-label>
              <ion-select class="font-label" ngModel required [(ngModel)]="id_zona" cancelText="Cancelar" name="zona" >
  
              <ion-select-option value="{{zona.id_zona}}" *ngFor="let zona of zonas"  name="zona-option" class="font-label"  >{{zona.nr_zona}}  </ion-select-option>
             
              </ion-select>
              <ion-button (click)='loadSecao()'> Carregar seções</ion-button>
            </ion-item>
            <ion-item>
             
              <ion-label class="font-label" > Seção Eleitoral </ion-label>
             
              <ion-select class="font-label" cancelText="Cancelar" name="secao" ngModel required [(ngModel)]="id_secao">
                
              <ion-select-option value="{{secao.id_secao}}" *ngFor="let secao of secoes"  name="secao-option" class="font-label"  >{{secao.nr_secao}}  </ion-select-option>

            </ion-select>
          </ion-item>
            <ion-item>
              <ion-label class="font-label" >Possui cadastro com biometria?</ion-label>
        <ion-select  class="font-label" [(ngModel)]="sn_biometria" name="validar">
          <ion-select-option class="font-label" value="S" name="S">Sim</ion-select-option>
          <ion-select-option class="font-label" value="N" name="N">Não</ion-select-option>
        </ion-select>
            </ion-item>

            <ion-item>
              <label class ="font-label {{sendImg}}"for="upload-photof">Imagem selecionada</label>
              <label class ="font-label {{inputImg}}"for="upload-photof">Selecione uma imagem da frente do documento de identificação</label>
              <ion-input class="input" type="file" name="imagefrente" id="upload-photof" [(ngModel)] = 'image'  (change)="selectedFile($event,'F')"> </ion-input>
      <ion-button class="{{iff}} b" (click)="onClick('F')"  ><p class="{{enviadof}}">Enviado</p> <p class="{{enviarf}}">Enviar</p></ion-button>
      
            </ion-item>
            <ion-item>
              <label class ="font-label {{sendImgv}}"for="upload-photov">Imagem selecionada</label>
              <label class ="font-label {{inputImgv}}"for="upload-photov">Selecione uma imagem do verso do documento de identificação</label>
              <ion-input class="input" type="file" name="imageverso" id="upload-photov"  [(ngModel)] = 'image'  (change)="selectedFile($event,'V')"> </ion-input>
      <ion-button class="{{iv}} b" (click)="onClick('V')" > <p class="{{enviadov}}">Enviado</p> <p class="{{enviarv}}">Enviar</p></ion-button>
            </ion-item>
            <ion-item>
              <label class ="font-label {{sendImgt}}"for="upload-photoft">Imagem selecionada</label>
              <label class ="font-label {{inputImgt}}"for="upload-photoft">Selecione uma imagem da frente do título de eleitor</label>
              <ion-input class="input" type="file" name="imagefrente" id="upload-photoft" [(ngModel)] = 'image'  (change)="selectedFile($event,'FT')"> </ion-input>
      <ion-button class="{{it}} b" (click)="onClick('FT')"  ><p class="{{enviadoft}}">Enviado</p> <p class="{{enviarft}}">Enviar</p></ion-button>
      
            </ion-item>
            <ion-item>
              <label class ="font-label {{sendImgvt}}"for="upload-photovt">Imagem selecionada</label>
              <label class ="font-label {{inputImgvt}}"for="upload-photovt">Selecione uma imagem do verso do título de eleitor</label>
              <ion-input class="input" type="file" name="imageverso" id="upload-photovt"  [(ngModel)] = 'image'  (change)="selectedFile($event,'VT')"> </ion-input>
      <ion-button class="{{ivt}} b" (click)="onClick('VT')" > <p class="{{enviadovt}}">Enviado</p> <p class="{{enviarvt}}">Enviar</p></ion-button>
            </ion-item>
            <ion-item>
              <label class ="font-label {{sendImgc}}"for="upload-photoc">Imagem selecionada</label>
              <label class ="font-label {{inputImgc}}"for="upload-photoc">Selecione uma imagem do comprovante de residencia</label>
              <ion-input class="input" type="file" name="imageverso" id="upload-photoc"  [(ngModel)] = 'image'  (change)="selectedFile($event,'C')"> </ion-input>
      <ion-button class="{{ic}} b" (click)="onClick('C')" > <p class="{{enviadoc}}">Enviado</p> <p class="{{enviarc}}">Enviar</p></ion-button>
            </ion-item>


            <ion-item>
              <label class ="font-label {{sendImgp}}"for="upload-photop">Imagem selecionada</label>
              <label class ="font-label {{inputImgp}}"for="upload-photop">Selecione uma imagem para o seu perfil</label>
             
              <ion-input class="input" type="file" name="imageperfil"  id="upload-photop" [(ngModel)] = 'image'  (change)="selectedFile($event,'P')"> </ion-input>
      <ion-button class="{{ip}} b" (click)="onClick('P')" > <p class="{{enviadop}}">Enviado</p> <p class="{{enviarp}}">Enviar</p></ion-button>
            </ion-item>
         
        
            




          </div>
          <div padding>
            <ion-button  size="large" type="submit" (click)="tryRegister()" expand="block">Cadastrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-card>
</ion-content>