<ion-header>
  <ion-toolbar>
    <div class='font-title'>Perfil

    <ion-icon name="close-outline" (click)="openHome()" class="user-icon"></ion-icon></div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
     
    <img class="user-picture" src="data:image/jpeg;base64,{{documento_perfil}}">
 
    <ion-label class="fontt-label" > Filiador</ion-label>
  </ion-item>
  <ion-item>
    <ion-button class="fullbut" (click)="photo()" ><ion-icon class='image-icon' name="cloud-upload-outline"></ion-icon>Atualizar imagem do perfil</ion-button>
    

  </ion-item>
  <ion-item>
 
    <ion-label class="font-label" ><b>Nome:</b><br> {{nome_filiador}} </ion-label>
    <ion-icon (click)="popupNovoNomefiliador()" name="create-outline"  class="user-icon"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label class="font-label" ><b>CPF:  </b><br><br>{{cpf_cnpj_filiador}}</ion-label>
 
  </ion-item>

  <ion-item>
    <ion-label class="font-label" ><b>Email: </b><br>{{email_filiador}} </ion-label>
    <ion-icon (click)="popupNovoEmailfiliador()" name="create-outline"  class="user-icon"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label class="font-label" ><b>Telefone: </b><br>{{telefone_filiador}} </ion-label>
    <ion-icon name="{{wpp}}"  class="user-icon"></ion-icon>
    <ion-icon (click)="popupNovoTelefonefiliador()" name="create-outline"  class="user-icon"></ion-icon>
  </ion-item>
  <ion-item class="{{hh}}" >
    <ion-label class="font-label" ><b>Para filiados.<br> Validar o cadastro? </b><br> {{validacao}}</ion-label>
    <ion-icon (click)="popupNovoSNValidaCadastro()" name="create-outline"  class="user-icon"></ion-icon>
  
  </ion-item>


  <div class="{{divv}} ">
    <ion-item>
    <ion-label class="font-label" > Para filiados.<br> Validar o cadastro?</ion-label>

<ion-select cancelText="Cancelar" class="font-label"   [(ngModel)]="sn_validar_cadastro" name="validar">
<ion-select-option class="font-label" value="S" name="S">Sim</ion-select-option>
<ion-select-option class="font-label" value="N" name="N">Não</ion-select-option>

</ion-select>
</ion-item>
<ion-item>
<ion-button (click)="editNovoSNValidaCadastro()" name="create-outline"  >Alterar</ion-button></ion-item>
  </div>




  <ion-item class="{{tt}}" >
    <ion-label class="font-label" ><b>Dados do título de eleitor obrigatórios? </b><br> {{dadosTitulo}}</ion-label>
    <ion-icon (click)="popupNovoSNObrigaDadosTitulo()" name="create-outline"  class="user-icon">Alterar</ion-icon>
  
  </ion-item>


  <ion-item class="{{tite}}">
    <ion-label class="font-label" >Dados do título de eleitor obrigatórios?</ion-label>

<ion-select cancelText="Cancelar" class="font-label"   [(ngModel)]="sn_obriga_dados_titulos" name="titulo">
<ion-select-option class="font-label" value="S" name="S">Sim</ion-select-option>
<ion-select-option class="font-label" value="N" name="N">Não</ion-select-option>

</ion-select>
<ion-item>
<ion-button (click)="editNovoSNObrigaDadosTitulo()" name="create-outline"  > Alterar</ion-button></ion-item>
  </ion-item>


  <ion-item class="{{mm}} ">
    <ion-label class="font-label quebra" ><b>Mensagem padrao de aniversário:</b> <br> {{msg_padrao_aniversario}}</ion-label>

    <ion-icon (click)="popupNovoMsgCadastro()" name="create-outline"  class="user-icon"></ion-icon>
  
  </ion-item>
  <div padding class="{{mime}}" >
    <ion-list>
    <ion-item class="flex">
      <ion-label class="font-label">Editar mensagem padrão de aniversário:<br><i>(400 máx.)</i></ion-label>
      
      
    </ion-item>
   
    <ion-label class='input-msg'  ><ion-textarea name="msg" type="text" class="msgarea" ngModel  [(ngModel)]="msg_padrao_aniversario" ></ion-textarea></ion-label>
    <ion-button class="butt" (click)="editMsgPadraoAniversario()"> Alterar </ion-button>
   

</ion-list>
  </div>

 
  <ion-item>  
    <ion-button class="butt" (click)="newPass()"> Redefinir senha</ion-button>
  </ion-item>







  </ion-card>

</ion-content>
