<ion-header>

  <ion-toolbar>
  <div class="font-title">Enviar mensagem
  <ion-icon name="close-outline" (click)="openHome()" class="user-icon"></ion-icon></div>
</ion-toolbar>
</ion-header>

<ion-content >
<div class="xc" text-center>
  <h3></h3>
</div>
<ion-card class="cardLogin">

  <ion-grid>
    <ion-row color="primary" class="xc">
      <ion-col  size-md="6" size-lg="5" size-xs="12" >

        <div padding >

<ion-item>




</ion-item>
<div padding>
  <ion-button  size="medium"  (click)="send()" expand="block">Gerar novo código</ion-button>
</div>
        </div>
        
        