<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
</style>
<ion-header>
  <ion-toolbar >
    <ion-icon name="close-outline" (click)="openHome()" class="user-icon"></ion-icon>
    
    <ion-title class="font-title">Filiados </ion-title>  
    
    
  </ion-toolbar>
</ion-header>
<ion-content>
  

  <ion-list class='list-view'>
    <div class="{{modal}} a">
      <ion-list-header class="font-label">Filtro de pesquisa</ion-list-header>
      
   
           <ion-item class="q">
            <ion-label class="font-label" > Lider
            </ion-label>
   
  
        <ion-select class="font-label" ngModel required [(ngModel)]="id_lideranca" cancelText="Cancelar" name="lideranca" >
  
        <ion-select-option value="{{lider.id_lideranca}} "  *ngFor="let lider of lideres"  name="zona-option" >{{lider.nome_lideranca}}</ion-select-option>
       
        </ion-select>

      </ion-item>
      
    <ion-item >
           
      <ion-label class="font-label" > Zona</ion-label>
      <ion-select class="font-label" ngModel required [(ngModel)]="id_zona" cancelText="Cancelar" name="zona" >

      <ion-select-option value="{{zona.id_zona}} " *ngFor="let zona of zonas"  name="zona-option" class="font-label"  >{{zona.nr_zona}}  </ion-select-option>
     
      </ion-select>
   
    </ion-item>
    <ion-button class="d" (click)='loadSecao()' > Carregar seções</ion-button>
    <ion-item>
             
      <ion-label class="font-label" > Seção Eleitoral </ion-label>
     
      <ion-select class="font-label" cancelText="Cancelar" name="secao" ngModel required [(ngModel)]="id_secao">
        
      <ion-select-option value="{{secao.id_secao}}" *ngFor="let secao of secoes"  name="secao-option" class="font-label"  >{{secao.nr_secao}}  </ion-select-option>

    </ion-select>

  </ion-item>
  <ion-item>
  <ion-button class="k" (click)='search()' > Pesquisar<br> com filtro</ion-button><ion-button class="k" (click)='searchAll()' > Pesquisar todos</ion-button></ion-item>
</div>
<div class={{list}}>
  <div>
  <ion-label  class="font-label">Total :{{count}}</ion-label>
  <ion-icon name="return-up-back-outline" (click)="backSearch()" class="user-icon"></ion-icon></div>
    <ion-list-header class="font-label">Listagem por ordem alfabética</ion-list-header>
    
 

      <ion-item-sliding *ngFor="let user of users" >
            <ion-item>
           
              <img class="user-picture" src="https://egab.app/api/img/{{user.perfil}}">
              <ion-label class="font-label" (click)="openFiliado(user.id_filiado)">{{user.nome}} </ion-label>

              <a class='{{user.sn_whatsapp}}' href="https://api.whatsapp.com/send?phone=55{{user.telefone_lideranca}}"><img src="../../../assets/icon/{{user.sn_whatsapp}}.png" alt="HTML tutorial" style="width:42px;height:42px;"></a>
            </ion-item>
           
        
      </ion-item-sliding>
    </div>
  </ion-list>


</ion-content>


