
  ion-content{
    --background:  #fff url('../../../assets/img/888.png') no-repeat center center / cover;
    background-color: transparent;
  }

  :host(.in-item){
    max-width: 100%;
  }
  .k{
    height: 100%;
    width: 50%;
  }
  .h{
    --background: red;
    width: 50%;
    
  }
  .ff{
    color:black;
    font-size: 10px;
  }

  .A{
    display: none;
  }

  .G{

    color: red;
  }
  .o{
    display: flex;
  }
  .N{
    display: none;
  }
  ion-button{
    font-family: Exo;
    --background: #0f2546;
    width: 100%;
  
  }

  .white{
    color:white;
  }
  .user-icon{
    width: 20px;
    height: 20px;
    margin-right:20px;
    float:right;
  }
  .user-flag{
    width: 20px;
    height: 20px;
    margin-right:20px;
    float:left;
  }

  .user-picture{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-right:20px;
    float:left;
  }



  .list-view{
   
    margin: 6%;
    opacity: 0.9;
  }

  .header{
    --opacity:0.8;

  }

  .font-title{

   font-size: 15px;
    font-family: Exo;
  }

  .imagem-icon{
    margin-right: 5px;
  }

  .font-label{
    font-size: 12px;
    font-family: Exo;
    max-width: 100%;
  }
 
  .font-labeld{
    font-size: 12px;
    font-family: Exo;
   
  }

  .q{
    margin-right: -10px;
  }

  .d{
    margin-left: 30px;
  }
 
  .a{

    align-items: center;
    vertical-align: middle;
  }