
  ion-alert{
    font-family: Exo;
  }

  ion-content{
    --background:  #fff url('../../../assets/img/bg3.jpg') no-repeat center center / cover;
    background-color: transparent;
    font-family: Exo;
  }

.uppercase{

    text-transform: uppercase;
}

.q{

  margin-left: 5px;
}

.img-doc{
   height:200px;

}
.quebra{

  white-space: normal;
}
 .zona-none{
   display:none;
 }

 .zona-on{
   
 }

.num{

  margin-left: 10px;
}

.nm{

  margin-right: -20px;
}


.user-icon{
  width: 20px;
  height: 20px;
  margin-right:20px;
  
  float:right;
}
.user-picture{
    width: 60px;
    height: 80px;
    margin-right: 20px;
    float:left;
    border-radius: 5px;
  }

  .documento{
   font-family: Exo;

  }



  .sc-ion-alert-md-h{
  font-family: Exo;
}


.font-title{
  margin-left: 10px;
  font-size: 15px;
  font-family: Exo;
}

.font-label{
  font-size: 12px;
  font-family: Exo;

}

.fontt-label{
  font-size: 15px;
  font-family: Exo;
  margin-left: 20px;

}

ion-button{
  font-family: Exo;
  --background: #0f2546;
 
  width:100%;
}

.change{
  font-family: Exo;
  --background: #0f2546;
 
  width:30%;

}


.image-icon{

  margin-right: 3px;
}

.but{
  float: right;

}
.dis{
  padding-left: 30px;

}
.disp{
  padding-left: 30px;

}

header{
  font-family: Exo;
}


.b{

  z-index: 9999;
}

.butf{

  --background: green;
 
}
.butv{

  --background: green;
 
}
.butp{

  --background: green;
 
}




.displayedp{}

.nonep{display:none;}


.displayImgp{ opacity: 0.8; margin-right:50px ; color:green;}


.noneImgp{display:none;}

#upload-photop {
  position: absolute;
  opacity: 0;
}

.fullbut{
  width:100%
}

.popup{
  display:none;
}