<ion-header>
  <ion-toolbar>

    <ion-title class="font-title">Alterar senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
  <div class="xc" text-center>
    <h3></h3>
  </div>
  <ion-card class="cardLogin">

    <ion-grid>
      <ion-row color="primary" class="xc">
        <ion-col  size-md="6" size-lg="5" size-xs="12" >

          <div padding >
            <ion-list>
            <ion-item>
              <ion-label class="font-label">Nova senha:</ion-label>
              <ion-input  name="senha" type="text"  ngModel required  [(ngModel)]="senha" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="font-label">Confirmar senha:</ion-label>
              <ion-input  name="is_senha" type="text" ngModel required [(ngModel)]="is_senha" ></ion-input>
            </ion-item>
            <div padding>
              <ion-button  size="large"   (click)="tryChange()" expand="block">Redefinir Senha</ion-button>
            </div>

        
          
          