<ion-header>
  <ion-toolbar>
    <img class='photo' src="https://egab.app/api/img/{{perfil}}">
    <div class="user-name">Olá, {{name}}</div>
    <div class="user-title">Perfil Apoio</div><ion-button (click) ="popLogout()" class="user-button"color="light"><ion-icon   name="log-out-outline" class="icon"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content >
 
 
    
    
    <main class="main" role="main">
      <div class="gallery" aria-label="gallery">
        
       
        <ion-button color="light" (click)="cadastrar()" class="gallery__item "><div><div><ion-icon name="checkbox-outline" class="icon"></ion-icon></div><div class="text">Cadastrar Filiado</div></div></ion-button>
        <ion-button color="light" (click)="openPerfil()" class="gallery__item "><div><div><ion-icon name="person-outline" class="icon"></ion-icon></div><div class="text">Perfil</div></div></ion-button>
        <ion-button color="light" (click)="openCadastroPendente()" class="gallery__item "><div><div><ion-icon name="checkbox-outline" class="icon"></ion-icon></div><div class="text">Validar Cadastro</div></div></ion-button>
        <ion-button color="light" (click)="sendMessage()" class="gallery__item"><div><div><ion-icon name="logo-whatsapp" class="icon"></ion-icon></div><div class="text">Enviar<br> Mensagem</div></div></ion-button>
      </div>
    </main>


</ion-content>
